/* normalize.css has been included before this file */
body, html {
	margin: 0;
	padding: 0;
	background: #f9f9f9;
	width: 100%;
}

.twitterBlue {
	color: #2980b9;
	font-weight: bold;
}

.redText {
	color: #c0392b;
	font-weight: bold;
}

.languageText {
	color: #16a085;
	font-weight: bold;
}

.nav {
	position: relative;
	float: left;
  background: rgba(241, 196, 15, 0.5);
  width: 100%;
  height: 80px;
  padding-bottom: 20px;
}

#header {
	text-align: center;
	width: 100%;
	padding-top: 170px;
	background-image: url('http://goo.gl/XOJKEA');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

#brand {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	position: absolute;
	top: 0;
	left: 200px;
	color: #fff;
	font-weight: 500;
	display: none;
}

#header > h1 {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 2.4em;
	font-weight: 500;
	color: #fff;
	width: 70%;
	margin: 0 auto;
	display: none;
}

.container {
	width: 90%;
	margin: 0 auto;
}

input#search {
	margin: 30px;
	padding: 8px 45px;
	text-align: center;
	text-transform: uppercase;
	border: solid 1px #f1c40f;
	box-shadow: 0 0 5px 1px #f1c40f;
	display: none;
}

input#search:focus {
	outline: none;
}

#searchButton {
	background: #fff;
	border: 1px solid #fff;
	font-weight: bold;
	color: #f1c40f;
	padding: 10px 40px;
	margin-top: 10px;
	text-transform: uppercase;
	display: none;
}

#searchButton:hover {
	background: #f1c40f;
	border: 1px solid #f1c40f;
	color: #fff;
}

.info {
	display: none;
}

.listItem {
	list-style: none;
	padding: 40px;
	margin-top: 20px;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	text-align: center;
}

li.listItem:hover {
	box-shadow: 0 5px 10px rgba(52, 73, 94, 0.8);
	cursor: pointer;
}

li.listItem:last-of-type {
	margin-bottom: 20px;
}

.resultLinks {
	text-decoration: none;
	font-weight: bold;
	color: #f1c40f;
	-webkit-transition: all .2s ease; 
	-moz-transition: all .2s ease; 
	-o-transition: all .2s ease; 
	transition: all .2s ease;
}

.resultLinks:hover {
	border-bottom: 2px solid #f1c40f;
	padding-bottom: 5px;
}

p#resultCount {
	color: #c0392b;
	font-weight: bold;
	background: rgba(236, 240, 241, 0.7);
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  display: none;
}

@media all and (max-width: 480px) {
	#header {
		padding-bottom: 80px;
	}

	p#resultCount{
		width: 50%;
	}
}